name: NotClassic Windows

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-windows
  cancel-in-progress: true

jobs:
  build-windows:
    name: Build Windows
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: x86_64
            name: Win64
            gcc: x86_64-w64-mingw32-gcc
            entry: main_real
          - arch: i686
            name: Win32
            gcc: i686-w64-mingw32-gcc
            entry: _main_real

    steps:
      - uses: actions/checkout@v4

      - name: Install MinGW
          run: |
            sudo apt-get update
            sudo apt-get install -y mingw-w64

      - name: Build ${{ matrix.name }} binaries
        shell: bash
        run: |
          set -e
          BASE_SRCS="src/*.c third_party/bearssl/*.c"
          # -static is the life-saver here
          COMMON_FLAGS="-O1 -s -static -fno-stack-protector -fno-math-errno -Werror"
          WIN_FLAGS="-mwindows -Wl,-e${{ matrix.entry }} -DCC_NOMAIN"

          # OpenGL
          ${{ matrix.gcc }} $BASE_SRCS $COMMON_FLAGS $WIN_FLAGS \
            -DCC_GFX_BACKEND=CC_GFX_BACKEND_GL1 \
            -o NotClassic-${{ matrix.name }}-OpenGL.exe \
            -lwinmm -limagehlp

          # Direct3D9
          ${{ matrix.gcc }} $BASE_SRCS $COMMON_FLAGS $WIN_FLAGS \
            -DCC_GFX_BACKEND=CC_GFX_BACKEND_D3D9 \
            -o NotClassic-${{ matrix.name }}-Direct3D9.exe \
            -lwinmm -limagehlp -ld3d9

          # Direct3D11
          ${{ matrix.gcc }} $BASE_SRCS $COMMON_FLAGS $WIN_FLAGS \
            -DCC_GFX_BACKEND=CC_GFX_BACKEND_D3D11 \
            -o NotClassic-${{ matrix.name }}-Direct3D11.exe \
            -lwinmm -limagehlp -ld3d11

      - name: Upload ${{ matrix.name }} builds
        uses: actions/upload-artifact@v4
        with:
          name: NotClassic-Windows-${{ matrix.arch }}
          path: NotClassic-${{ matrix.name }}-*.exe
